<html lang="en">
	<script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/public/assets/styles2.css">
</head>
<body>

<div class="hero-image">
  <div class="hero-text">
    <h1 style="font-size:50px">Userfile <i class="fab fa-affiliatetheme"></i></h1> 
        <button> <a href="/login">Login</a></button>
    <p>Don't have an account?</p>
    
     <button> <a href="/register">Register</a></button>
  </div>
</div>

<p>Page Content..</p>

</body>
</html>



