<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/public/assets/styles.css" type="text/css">
    <title>Document</title>
</head>

    <body>
        <div class="main-block">
    
         
          <form action="/register" method="POST">
            <div class="title">
              <i class="fas fa-pencil-alt"></i> 
              <h2>Registeration</h2>
            
            </div>
            <div class="info">
          
              <input class="name" type="text" name="name" placeholder="Enter Name">
              <input type="email" name="email" placeholder="Enter Email">
              <input type="password" name="password" placeholder="Enter new Password">
              <input type="password" name="password2" placeholder="Re-enter Password">
             
            </div>
            
            <button type="submit" href="/Login">Submit</button>
          </form>
          <div class="left-part "><h3>Click here to <a href="/Login">Login</a></h3>
            <h3>Go back to <a href="/">HomePage</a></h3>
  
  </div>

        </div>
      </body>



</html>