
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>
	<link rel="stylesheet" href="/public/assets/wstyles.css">
<body>
    <title>
DeeraCode.com
</title>
<div class="container">
<div class="bg1">

<h1 style="font-family: 'Bebas Neue', cursive; letter-spacing:5px"><span> DeeraCode.com</span></h1>
<p>Personalized Mentorship to help you reach your goals</p>
      </div>
     
      <div class="bg1">
        <h1 class="login"> <a href="./Login"> Login</a></h1> or<h1 class="login"> <a href="./register">Sign up </a></h1> 
        
      </div>
      <div class="bg1 " id="social-media">
        <div class="vertical">
        <div><a href=""><i class="fab fa-youtube fa-3x" style="color:red"></i></a></div>
        <div><a href=""><i class="fab fa-twitter fa-3x" style="color:#1DA1F2"></i></a></div>
        <div><a href=""><i class="fab fa-github fa-3x"style="color: purple"></i></a></div>
        </div>
      </div>
     
      <div class="bg2">
        <h1> <a href="/register"> Register</a> </h1>
      </div>
      <div class="bg1">
        
      </div>
      <div class="bg1">
        
      </div>
      <div class="bg2">
       <h1> Weekly Newsletter</h1>
      </div>
      <div class="bg2">
        
      </div>



</div>





</body>