@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
*{
  margin:0;
    box-sizing: border-box;
}


body{

    background:#19192C;
    color:white;
    font-family: 'Roboto', sans-serif;
    overflow-x: none;
    margin:0;
    height:100vh;
    display: flex;
    flex-direction:column;
    box-sizing: border-box;
    
}
.navigation{
padding: 0px 10px;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
}
/* upper-portion */
.dashboard{

max-width: 768px;
margin:60px auto;
display: grid;
grid-template-columns: 5fr 1fr;
justify-self:center ;

}

.main-box{
  position: relative;
  width: 100%;
  height: 100%;
    border-right: 1px solid grey;
    background: url(dm1.jpg) no-repeat center center/cover;
    
}
.main-box h2{

    position: absolute;
    top:10;
    left: 10;
    cursor: pointer;
}
.main-box h2:hover{

transform: scale(1.01);

}
.Side-box{
 width: 200px;
    height: 60vh;
    display: grid;
  display: flex;
  flex-direction: column;
    
    
  
    
    /* padding: 5px; */
}
.Side-box ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   align-items: center;
     text-align: center;
    
    list-style: none;
    padding: 5px 0px;
    cursor: pointer;
    height: 100%;
/* border-bottom: 1px solid grey; */
}
.ul{

    background:#474F66;
    height: 100%;
    
}
.sideOpt li{
    height: 100%;
display: flex;
flex-direction: row;
align-items: center;

gap:15px;
}

.cal{
display: flex;
justify-content: center;
color:#7258E9 ;
background: white;
padding:55px 0;
height: 100%;
border: 3px solid #7258E9 ;
height: 100%;
cursor: pointer;
}
.cal:hover{

    opacity: 0.7;
}




.card{
max-width: 600px;
margin: 60px auto;
background:#474F66;
padding: 10px 15px;
letter-spacing: 1px;
/* font-weight: 100; */
color: white;
border-radius: 5px;
}

.card ul{

    list-style: none;
   
}

.checklist ul{

    background:#19192C;
    gap:20px;
    padding:5px 15px;
    border-radius: 5px;
    
}
.checklist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border:1px solid grey;
    margin: 10px 0;
    border-radius: 5px;
    padding:5px 10px;
}

.lower{

display: grid;
grid-template-columns: 1fr 1fr;
/* width: 768px; */
width: 100%;
max-width: 768px;
gap:5px;
margin: 0 auto;


}

.lbox{


   width: 100%;
    max-width: 384px;
    height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}


.lbox:hover{
opacity: 0.7;
cursor: pointer;


}
.red{

    background: coral;
}

input{
    width: 2rem;
    height:2rem;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
    }
    iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
    #tut{
        background: url(tutorials.jpg) no-repeat center center/cover;
    
    }
    #chat{
        background: url(chat.jpg) no-repeat center center/cover;
    
    }
    #proj{
        background: url(projects.jpg) no-repeat center center/cover;
    
    }
.lbox h1{
background: white;
color:black;
width:100%;
height:100%;

opacity: 0.85;

}


.atag a, .atag a:visited{
    display:flex;
justify-content: center;
align-items: center;
    width:100%;
    height:100%;
  
    color:black;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

.dashboard{

    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
  
}

.main-box{

    display: none;
}


.Side-box{
    width: 300px;
}

.Side-box ul{

    flex-direction:row;
  justify-content: space-around;
    padding-bottom: 5px;
    font-size: 18px;
  }
.Side-box p{

    display: none;
}
.input input{

    font-size: 10px;
}

input{

    font-size: 10px;
}
.lower{

    grid-template-columns: 1fr;
}

.lbox{


    max-width: 600px;
}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}