@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');


*{

box-sizing: border-box;
margin:0;
padding:0;


}

body{

    background:#121b2c;
    color:#fff;
    font-family: 'PT Sans', sans-serif;
    overflow-x: none;
    margin:0;
    height:100vh;
    display: flex;
    flex-direction:column;
    
}

.container {

    display: grid;
    grid-template-columns: repeat(auto-fit,(4,1fr));
    gap:10px;
}
.title{

    display: flex;
    
    align-items: center;
    gap:10px;
    
}

.title h4{
    margin-top:10px;

}

/*Navbar */
.upper-segments{
position: relative;
    
}


.navbar{
    max-width: 650px;
padding:5px 5px;
display: flex;
flex-direction: row;
justify-content: space-between;


}
.services{

    display: flex;
    justify-content: flex-end;
}

.services ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:30px;
    font-size: 18px;
   
    letter-spacing:3px;
    transition:1s;
}


.services a:hover {

    text-decoration: underline;
}
.login-modal{
    background: black;
    padding: 1px 5px ;
  position: absolute;
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    gap:35px;
    justify-content: center;
    align-items: center;
    align-content: center;
   top:-100vh;
    transition: 0.85s;
    opacity: 0.85;
          }

 

    .services-sm ul{
       height: 60vh;
       display: flex;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       list-style: none;
       gap:60px;
       font-size: 28px;
       font-weight: 700;
       letter-spacing:3px;
       
       
    }

    .services-sm a:hover{
         text-decoration: underline;
    }
      
    .final{
display:flex;
align-items: center;
justify-content: center;
font-size: 1rem;

    }
     

/****/

/*Showcase-Segment**/
.scg{
display: flex;
flex-direction: row;
justify-content: space-around;
}

.showcase-segment{
    max-width: 768px;
margin: 20px auto;

}
.scp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;


}

.sm{
  cursor: pointer;
    min-height:200px;
   max-width:100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   font-size: 28px;
   transition:0.6s;
   padding:5px
}
.sm:hover{
    transform:scale(1.02)
}


.portfolio{

background:url(pic3.png) no-repeat center center/cover;

}
.projects{

    background:url(pic2.jpg) no-repeat center center/cover;
    
    }
.about{

        background:url(pic0.jpg) no-repeat center center/cover;
        
        }    
.social-media {

    background:url(pic1.jpg) no-repeat center center/cover;
    display: flex;
    flex-direction:row;
    gap:35px;
}

.fab{

    line-height: 68px;
   
}
.fab:hover{

    border-bottom: 3px solid #1f67db;
   }




/****/
.footer{

    font-size:10px;
    font-weight:700;
    display: flex;
    text-transform: uppercase;
    background-color:black;
    color:grey;
    font-family: 'PT Sans';

margin-top:auto;
 
}
/*About me */
.about-me{

margin:20px auto;    
max-width: 650px;
display: grid;
grid-template-columns: 1fr 2fr;
gap:15px;
font:'PT Sans', Sans-serif;
}

.picture{
height:400px;
width:100%;
background:url(main1.jpg) no-repeat center center/cover;
}

.picture-sm{
    
   width:100px;
   height:200px;
    background:url(smalldeer.jpg) no-repeat center center/cover;
    display:none;
    }


.bio{
padding: 5px;
letter-spacing: 3px;
line-height: 1.9;
    
}

.bio p{

font-weight: 700;

}

.bio h3:hover{ 
text-decoration: none;;

}

/*Form*/
.form-control{

max-width: 768px;
margin: 0 auto;
height:400px;

display: flex;
flex-direction: column;
gap:25px;

}
.Form{
height:300px;
display: flex;
flex-direction: column;
gap:20px;

}



.form-control h3:hover {

    text-decoration:none;
}

input{
    height:2rem;
    width:20rem;
}
.picture2{
 width:100%;
    background:url(deeracontact2.jpg) no-repeat center center/cover;
    }
 .btn{
border:none;
width:10rem;
padding:5px;
font-family: 'PT Sans';
font-size:20px;
color:#C55A11;

 }   
/*Social*/

.social{

    min-height: 200px;
    max-width:768px;
    margin: 40px auto;
   display: flex;
   flex-direction:row;
   justify-content: flex-end;
   gap:20px;
  


}


.container > div{

    height:210px;
 
    background-size:cover;
    background-attachment: fixed;
   display:flex;
   flex-direction: column;
   grid-auto-rows: 50px;  
   align-items: center;
   justify-content: center;
   text-align: center;
   transition: all 0.5s ease-in-out;


}

.container > div:hover{


    opacity: 0.7;
    transform:scale(.97);
    
}

h2 {
    
font-size:75px;
font-weight: 450;
margin: 10px;


}

h2 span{

    font-size:30px;
}


h1{

font-size:38px;
}

.container > div:nth-of-type(1){

    grid-column: 1/ span 4;
  
}
.container > div:nth-of-type(2){

    grid-column: 1 / span 4;


    
    }
    .container > div:nth-of-type(3){

        grid-column: 1/3;
        
        }    



.container > div:nth-of-type(4){

grid-column: 3/5;


}



    .container > div:nth-of-type(7){

        grid-column: 3/5;
        
        }
        .container > div:nth-of-type(8){

            grid-column: 1/5;
            
            }
          
.login{

    background:#034f84 ;
    opacity: 0.7;
    border: 5px solid #92a8d1;
    border-radius:25px;
    padding:10px 40px;




}


            

.bg1{
    background:url('pic2.jpg');

}


.bg2 {

text-decoration: none;    
background: url('pic3.png');
color:white;

}


.vertical{

display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap:7rem;
   
  
}

a:visited{
    list-style: none;
    text-decoration: none;
    color:white;
}

a{
    text-decoration: none;
 cursor: pointer;   

}
@media screen and (max-width: 768px) {
    .services, .picture, .picture2{

        display: none;
    }

    .picture-sm{

        display: inline-block;
    }

    .about-me{

        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        align-content: center;
        padding:5px;
        
    }

    .main-logo{

        display: none;
    }
}
@media screen and (max-width: 427px) {

    input, textarea{

     width:15rem;   
    }
}


@media screen and (min-width: 500px) {

.showcase-segment{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap:5px;
    

}


    }



@media screen and (min-width: 768px) {
    .menu, .logo{

        display: none;

    }
    .upper-segments{

        display:flex;
        justify-content:center;
    }
.navbar{
    max-width: 800px;
    display:flex;
    justify-content: space-between;
    gap:120px;
}
.login-modal{

    display:none;
}

.services{

    display:flex;
    justify-content: flex-end;
}
.services ul{
    display:flex;
    justify-content:flex-end;
}
.showcase-segment{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap:25px;

}

.sm{

    max-width:270px;
    min-height:550px
}
.showcase-segment a{


font-size: 10px;
}

h3:hover{ text-decoration: underline;
}


}

@media  (max-width: 424px){

    .sm{

        width:100%
    }
    .showcase-segment{

      width:100%;
    }
}