

    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div class="nav-int">
  <div>
    <a href="/Projects/myLearning"> MyLearning</a>
  </div> 
  
   <div>
    <a href="/Projects/profile">Home</a>
  </div>  
  
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>


<div class="AccountBox">

  <div class="AccMenue">  <h1>Account </h1>

    <div class="AccountOptions">
<div>Public Profile</div>
<div>Account Settings</div>
<div>Delete Account</div>
    </div></div>

   
<div class="PublicProfile">
  <h3>Public Profile </h3>
  <form action="./profile.ejs" method ="POST">
  
    <label for="">Name:<%= info.name %></label>  <a href="">Edit</a>  
    <label for="">Email:<%= info.email %></label>  <a href="">Edit</a>  
    <label for="">Occupation: Student</label> <a href="">Edit</a>  
    <label for="">Location: London</label> <a href="">Edit</a>  
    <label for="">Age: 23</label>  <a href="">Edit</a>  
    <label for="">Avatar:  <div id="imgs" class="image-style"><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;" id="img"></div>
    </label> 
 <a href="">Edit</a> 
    </form></div>
 

    <form method="POST"  action= "" class="no-show" >
      <label for="">Old password</label><input type="password" name="password">
      <label for="">Enter New password</label><input type="password" name="npassword" id="ps1">
      <label for="">Re-enter password</label><input type="password" name="npassword2" id="ps2">
      
      
      <input type="submit" value= submit>
      </form>
      <form  method="POST"  action= "" class="no-show">
                    <label for="">Change Avatar(Enter URL)</label><input type="text" name="url">
      <input type="submit" value= submit>
      </form>

</div>



      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>


</script>


<script src="/public/assets/main.js"></script>
<script src="/public/assets/utils.js"></script>
