

    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div class="nav-int">
  <div>
    <a href="/Projects/myLearning"> MyLearning</a>
  </div> 
  
   <div>
    <a href="/Projects/profile">Home</a>
  </div>  
  
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>


<div style="margin: 250px auto; border: 1px; solid grey; background-color: white;
color:black; width: 100%; max-width: 900px; height: 300px; display: flex;
align-items: center; justify-content: center; ">
    
<h1>Under Construction for now!</h1>

</div>



      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>


</script>


<script src="/public/assets/main.js"></script>
<script src="/public/assets/utils.js"></script>
