

    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div class="nav-int">
  <div>
    <a href=""> MyLearning</a>
  </div> 
  
   <div>
    <a href="">Account</a>
  </div>  
  
 <a href="/Projects/login"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>

</section>


<div class="profile-board" id="pboard">
<div class="Sprofile" id="topB">

<div>Name</div>
<div>email</div>
<div>Avatar</div>
<div>info</div>

</div>


</div>




<div class="footer">
  <small> Copyright &copy; 2021 DeeraCode.com</small>
   
  
  </div>
<img src="" alt="" srcset="">


      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>

<script>
var Users =<%-JSON.stringify(info)%>


for (var j=0; j<Users.length; j++){

  const div = document.createElement('div')
div.innerHTML =
`<div>${Users[j].name} </div>
  <div>${Users[j].email}</div>
  <div><img src="${Users[j].avatar}" alt="" width=50px> </div>
  <div>${Users[j].email}</div>`;
  div.classList.add('Sprofile')
document.getElementById('pboard').appendChild(div)

}


</script>