
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">
    <link rel="stylesheet" href="/public/assets/Forum/Forum.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div>
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>

 
</div>

</section>




<div class="Forum-box">

    <div class="Upp-Sec">
           <div>
             
   <select name="" id="">
    <option value="">All Catagories</option>
     <option value="">CSS</option>
     <option value="">Javascript</option>
     <option value="">General</option>
   </select>
           </div>
    
    <p id="latest" class="Forum-select">Latest</p>
    <p id="unread">Unread</p>
    <p id="most-liked">Most Liked</p>
    <p id="Post">Create a Post</p>
   </div>


     <div class="Post-Sec">

                <div class="Create-Post">
                  <form action="">
                    <div class="Post-Id">
                           <div>
                           <label for="">Subject</label>
                           <input type="text">
                           </div>

                           <div>
                            <label for="">Topic</label>
                            <select name="" id="">
                              <option value="">All Catagories</option>
                               <option value="">CSS</option>
                               <option value="">Javascript</option>
                               <option value="">General</option>
                             </select>
                            </div>
                            </div>
                            <div>
                             <textarea name="" id="" cols="30" rows="10"></textarea>  
                            </div>
                    <div><input type="submit" value="Create Post"></div>
                    

                 </form>


                </div>

                 <div class="Post">
                      <div class="Post-Id">
                        <h4>Problem with Margins</h4> <h4 class="Post-Topic">CSS</h4>
                        
                        <div class="Post-date"><p>Tuesday November 5th</p></div>
                       <div class="Forum-image">
                         <p>John Smith</p>
                         <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;">
                        </div>
                      
                      </div>


                       <div class="Post-text">I am having issues with Practice #6 in the CSS section, anyone having the same issue?
                       Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et, tempore.                
                       </div>
     
    
                      </div>

                      <div class="Post">
                        <div class="Post-Id">

                          <h4 >Event Listeners issue...</h4> <h4 class="Post-Topic">Javascript</h4>
                          
                          <div class="Post-date"><p>Tuesday November 5th</p></div>
                         <div class="Forum-image">
                           <p>Sarah Jones</p>
                           <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="" srcset="" style="border-radius: 50%; width:50px;">
                          </div>
                        
                        </div>
  
  
                         <div class="Post-text">
                           I am having issues with Practice #6 in the
                            JS section, anyone having the same issue?
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
      
      
                        </div>

    </div>


</div>
  
  
      


</body>
<script>
  
</script>
<script src="/public/assets/main.js"></script>
