
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">
    <link rel="stylesheet" href="/public/assets/Forum/Forum.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div>
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>

 
</div>

</section>




<div class="Forum-box" id="Forum">

    <div class="Upp-Sec">
           <div>
             
   <select name=""  id="Select">
    <option value="All" >All Categories</option>
  
     <option value="CSS">CSS</option>
     <option value="Javascript">Javascript</option>
     <option value="Server side">Server-Side</option>
     <option value="General">General</option>
   </select>
           </div>
    
    <p id="latest" class="Forum-select">Latest</p>
    <p id="unread">Unread</p>
    <p id="most-liked">Most Liked</p>
    <p id="Post">Create a Post</p>
   </div>


     <div class="Post-Sec">

                <div class="Create-Post" id="Create-Post">
                  <form method="POST"  action= "./Forum" target="uploader_iframe">
                    <div class="Post-Id">
                           <div>
                           <label for="">Subject</label>
                           <input type="text" name="subject">
                           </div>

                           <div>
                                <label name=for="">Topic</label>
                         
                            <select name="selection">
                              
                              <option value="General">General</option>
                               <option value="CSS">CSS</option>
                               <option value="JavaScript">Javascript</option>
                               <option value="Server side">Server side</option>
                               
                             </select>
                            </div>
                            </div>
                            <div>
                             <textarea name="post" id="" cols="30" rows="10"></textarea>  
                            </div>
                    <div><input type="submit" value="Create Post" class="inpt-button"></div>
                    

                 </form>


                </div>

                 <div class="Post">
                      <div class="Post-Id">
                        <h4>Welcome to the Forum</h4> <h4 class="Post-Topic">General</h4>
                        
                        <div class="Post-date"><p>13 November 2021</p></div>
                       <div class="Forum-image">
                         <p>Moderator</p>
                         <img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;">
                        </div>
                      
                      </div>


                       <div class="Post-text" >
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Porro labore deleniti quasi cumque quam aliquid earum amet voluptas eveniet.
                      Asperiores sequi vitae incidunt rem ea aliquid sunt illo debitis, nulla magni,
                      sint delectus iste voluptate ipsum nostrum necessitatibus fugit accusamus.
                      Quibusdam necessitatibus cupiditate voluptatem ea sunt magni, animi id,
                      consectetur provident officiis ad vitae ullam aliquam nulla corrupti natus
                      in ipsum quos nihil fugit illo. Aliquam amet deleniti, nobis, maiores possimus,
                      hic nihil veniam provident laboriosam modi impedit numquam ullam cumque placeat
                       neque molestias. Eius culpa, nobis vitae qui nulla quia labore vero dicta, quo,
                        architecto ea similique doloremque fuga?               
                       </div>
    
                      </div>

                      <div class="Post">
                        <div class="Post-Id">

                          <h4 >Event Listeners issue...</h4> <h4 class="Post-Topic">Javascript</h4>
                          
                          <div class="Post-date"><p>13 November 2021</p></div>
                         <div class="Forum-image">
                           <p>Sarah Jones</p>
                           <img src="https://www.w3schools.com/howto/img_avatar2.png" alt="" srcset="" style="border-radius: 50%; width:50px;">
                          </div>
                        
                        </div>
  
  
                         <div class="Post-text">
                           I am having issues with Practice #6 in the
                            JS section, anyone having the same issue?
                            Lorem ipsum dolor sit amet consectetur.
                          </div>
      
      
                        </div>

    </div>


</div>

<div class="Forum-box no-top-marg">

 <div class="Forum-Bottom"><div class="Upp-Sec">
  <div>
         <!-- <select name=""  id="">
                  <option value="All" >All Categories</option>
                  <option value="CSS">CSS</option>
                  <option value="Javascript">Javascript</option>
                  <option value="Server side">Server-Side</option>
                  <option value="General">General</option>
           </select> -->
  </div>

 <p id="" class="Forum-select"><i class="fas fa-chevron-left"></i> </p>
 <p id="">Page 1</p>
 <p id=""><i class="fas fa-chevron-right"></i></p>
 
  </div>
  </div> 
  
</div>   

<div style="position: sticky; bottom:0; left:0; opacity: 0;">2019</div>

<iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>
</body>
<script>
  var posts =<%-JSON.stringify(Posts)%> ;
 
for (var j=0; j<posts.length; j++){
 
 Post = document.createElement('div') 
Post.classList.add("Post") 
const postID = document.createElement('div')
postID.classList.add("Post-Id")
const postDate = document.createElement('div')
const Posttext = document.createElement('div')
const PostSubject = document.createElement('h4')
const PostTopic = document.createElement('h4')
const Forumimg= document.createElement('div')


postID.classList.add("Post-Id")
PostSubject.innerHTML = `${posts[j].PostSubject}`
PostTopic.innerHTML =`${posts[j].PostTopic}`
PostTopic.classList.add("Post-Topic")
postDate.innerHTML = `${posts[j].PostDate}`
postDate.classList.add("Post-date")
Forumimg.innerHTML =`${posts[j].PostUser}<img src="${posts[j].PostAvatar}" alt="" srcset="" style="border-radius: 50%; width:50px;">`
Forumimg.classList.add("Forum-Image")

postID.appendChild(PostSubject)
postID.appendChild(PostTopic)
postID.appendChild(postDate)
postID.appendChild(Forumimg)

Posttext.innerHTML = `${posts[j].PostText}`
Posttext.classList.add("Post-text")

Post.appendChild(postID)
Post.appendChild(Posttext)

document.getElementById("Forum").appendChild(Post.cloneNode(true));

}
var j=0;


document.getElementById("Post").addEventListener('click',(e)=>{
console.log('hey')
e.preventDefault();
if (j===1){
  console.log('hey j is 0')
  document.getElementById("Create-Post").style.display ='none'
  j=0;
  document.getElementById("Post").innerText ='Create a Post'
  
}
else if (j===0){
  console.log('hey j is 1')
  document.getElementById("Create-Post").style.display ='block'
  document.getElementById("Post").innerText ='Close  '
  j=1;
}})


var postDivs = document.querySelectorAll(".Post")
var postTopic = document.querySelectorAll(".Post-Topic")


document.getElementById('Select').addEventListener('change',  function() {
  

Reset()
  for(var j=0; j<postDivs.length; j++){
                 if    (postTopic[j].innerHTML!==this.value){
                           postDivs[j].style.display ='none'
                  }      
                            }

                            if  (this.value==='All'){

       for(var j=0; j<postDivs.length; j++){
         postDivs[j].style.display = 'block'
       }                       

}
     


}, false)

function Reset(){
  for(var j=0; j<postDivs.length; j++){
 
   postDivs[j].style.display ='block'
    }

}



console.log()

</script>
<script src="/public/assets/main.js"></script>
