

    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div class="nav-int">
  <div>
    <a href="/Projects/profile"> Home</a>
  </div> 
  
   <div>
    <a href="/Projects/Account">Account</a>
  </div>  
  
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>


<div style="margin: 250px auto; border: 1px; solid grey; background-color: white;
color:black; width: 100%; max-width: 900px; height: 300px; display: flex;
align-items: center; justify-content: center; ">
    
    <div class="Appointments " id="Appointment">
      <form action="" method ="POST" class="App" id="form0">
        <!-- <label for="birthdaytime">REQUEST AN AUDIO-CHAT APPOINTMENT</label>
        <input type="datetime-local" id="birthdaytime" name="value"> -->
        
        <div class="apts">
        Current:
        <% if (info.Appointments) { %>
          <div class="appt"> <%= info.AppointDate %></div>
          <%} else { %>
            <div > <%= info.AppointDate %></div>
          <% } %>
    
    
    
    
    </div>
    <% if (info.Appointments) { %>
      <h3>Request another chat appointment</h3>
      <%} else { %>
        <h3>Request a chat appointment</h3>
      <% } %>
    
    
      <div class="appt" style="background-color:crimson;"> Cancel Appointment</div>
    
     <label for="meeting-time">Choose a time for your appointment:</label>
    
    <input type="datetime-local" id="meeting-time"
           name="appointment" value="2021-26-12T19:30"
           min="2022-01-01T00:00" max="2022-11-11T00:00">
    
    <input type="submit"  value="REQUEST">
    
      </form>
    
    
    
    
    </div>

</div>



      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>


</script>


<script src="/public/assets/main.js"></script>
<script src="/public/assets/utils.js"></script>
