
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">
    <link rel="stylesheet" href="/public/assets/Projects//Projects.css">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 



 <div class="nav-int">

  
   <div>
    <a href="">Account</a>
  </div>  
  
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>

</section>


<div class="uprojs">

  <div class="upro" style="background-color: blueviolet;">
    <div>
      <h3>Practice 1  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i></h3>
      <p>For this practice, the task is to simply use CSS to produce the picture below
        <ul>
    <li>Right click on the images and select "open image in new tab" to get a full screen view</li>
    <li>Submit the work on JSfiddle and save the link</li>
   
  </ul>
    

</p>

<img src="/public/assets/Practice/prac1.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
    
  <div class="upro" style="background-color: blueviolet;">
    <div>
      <h3>Practice 2  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i></h3>
      <p>For this practice, the task is to simply use CSS to produce the picture below
        <ul>
    <li>Right click on the images and select "open image in new tab" to get a full screen view</li>
    <li>Submit the work on JSfiddle and save the link</li>
    
  </ul>
    

</p>

<img src="/public/assets/Practice/prac2.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
   
  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 3  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i></h3>
      <p>For this practice, the task is to  use CSS Grid to produce the picture below
        <ul>
     <li>You are free to use as many divs as you like and structure them however you see fit</li>     
    <li>Right click on the image and select "open image in new tab" to get a full screen view</li>
    <li>Save the work on Github</li>
    
  </ul>
    

</p>

<img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/yj8sq5bdoluuctw1zfst.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
  


  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 4  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i></h3>
      <p>For this practice, the task is to  use CSS Flexbox to produce the picture below
        <ul>
     <li>You are free to use as many divs as you like and structure them however you see fit</li>     
    <li>Right click on the image and select "open image in new tab" to get a full screen view</li>
    <li>Save the work on Github</li>
    
  </ul>
    

</p>

<img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/fkpv6isznhxyl69f2u4v.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
  
  
  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 5  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i></h3>
      <p>For this practice, use both CSS Flexbox and Grid to produce these pictures below
        <ul>
     <li>You are free to use as many divs as you like and structure them however you see fit</li>     
    <li>Right click on the image and select "open image in new tab" to get a full screen view</li>
    <li>Save the work on Github</li>
    
  </ul>
    

</p>

<img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/uehz7kwoo7gesfebbqi8.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
    
  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 6  <i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
      <p>For this practice, use JavaScript and the numbers at the bottom to produce these functions below
        <ul>
     <li>You are free to use any method you see fit</li>     
    <li>A function that re-arranges the numbers from largest to smallest</li>
    <li>A function that returns the sum of all the numbers </li>
    <li>A function that returns all the even numbers </li>
    <li>Save it on JS fiddle and send the link </li>
  </ul>
    

</p>

 [5 , 6 , 10, 34, 79 , 2 , 1]

    </div>
  
  
 
 
  
  </div>

  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 7 <i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
      <p>For this practice, use JavaScript and the Object variables at the bottom to produce these functions below
        <ul>
     
    <li>A function that re-arranges them alphabetically</li>
    <li>A function that re-arranges them by age </li>
    <li>A function that reverses current values to 
      the opposite</li>
    <li>Save it on JS fiddle and send the link </li>
  </ul>
    

</p>
<div style ="font-size: 11px;"> [{name: 'John', age:29, current:true} , {name: 'Sally', age:44, current:false}
  ,{name: 'Dan', age:19, current:false}, {name: 'Tim', age:33, current:true]
</div>

    </div>
  
  
 
 
  
  </div>
   
 
  
  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 8 <i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
      <p>For this practice, use JavaScript and any number to produce the Collatz Conjecture
        <ul>
     
    <li>Look up the Collatz conjecture on Wikipedia</li>
    <li>Avoid looking at solutions online</li>
    <li>Write out an algorithm explaining your function</li>
    <li>Save it on your Github account </li>
  </ul>
    

</p>

    </div>
  
    <img src="https://cpb-us-e1.wpmucdn.com/sites.dartmouth.edu/dist/4/417/files/2019/11/gyorda_article_1_picture.png" alt="" srcset="" width="80px">

 
 
  
  </div>
   
  
  
  <div class="upro" style="background-color: #034f84;">
    <div>
      <h3>Practice 9 <i class="fab fa-html5 fa-2x" style="color: gold;"></i><i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
      <p>For this practice, use HTML and JavaScript to produce 
        the following
     <ul>
    <li>A button that changes the background color blue</li>
    <li>A label tag with the number 1 as the text </li>
    <li>a '+' button that adds 1 to the number above everytime its clicked</li>
    <li>A Form that takes your name and gives a 'Hello [name]' message
      alert after you press submit
    </li>
    <li>Save the files on your Github account</li>
  </ul>
    

</p>

    </div>
  
   
 
 
  
  </div>
    
  <div class="upro" style="background-color: #4040a1;">
    <div>
      <h3>Practice 10  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i><i class="fab fa-js fa-2x" style="color:yellow"></i></h3>
      <p>For this practice, Use your practice #5 file and add JavaScript to create the 
        a slideshow .
        <ul>
     <li>Main image changes automatically every 5s</li>     
    <li>Clicking any of the bottom images switches it immediately</li>
    <li>Save the work on Github</li>
    
  </ul>
    

</p>

<img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/uehz7kwoo7gesfebbqi8.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
   
  <div class="upro" style="background-color: #4040a1;">
    <div>
      <h3>Practice 11  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
      <i class="fab fa-js fa-2x" style="color: gold;"></i>
      </h3>
      <p>For this practice, Use the file from practice #3 along with 
        Javascript to create a simple calculator. 
        <ul>
     <li>Avoid looking at online solutions</li> 
     <li>Keep it simple but effective</li>    
    <li>Make sure to handle errors properly</li>
    <li>Save the work on Github</li>
    
  </ul>
    

</p>

<img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/yj8sq5bdoluuctw1zfst.jpg" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
  
  <div class="upro" style="background-color: #4040a1;">
    <div>
      <h3>Practice 12  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
        <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
      <i class="fab fa-js fa-2x" style="color: gold;"></i>
      </h3>
      <p>For this practice, Using HTML,CSS, and JavaScript, Build the Sports Table app pictured below.
        <ul>
     <li>Include 4 teams </li> 
     <li>Use JavaScript Object Classes</li>    
    <li>Include an error message for invalid entries</li>
    <li>Save the work on Github</li>
    
  </ul>
    

</p>

<img src="/public/assets/Practice/sports-table.png" alt="" srcset="" width="50px">


    </div>
  
  
  <div>
   
  </div>
  
 
  
  </div>
  
  
  
  
  </div>


  
  
      


</body>
<script>
  
</script>
<script src="/public/assets/main.js"></script>
