

    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>




<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div class="nav-int">
  <div>
    <a href="/Projects/myLearning"> MyLearning</a>
  </div> 
  
   <div>
    <a href="/Projects/Account">Account</a>
  </div>  
  
 <a href="/Projects/login"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>
 
</div>

</section>







<div class="dashb" id="mainDashboard">


  <div class="boxArea">
  <div class="top">
    <div>Welcome back <%= info.name %> !</div>
    <div  id="imgs2" ><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;"></div>
    

  </div>
<div class="BottoM">
 
  <div id="mainOpt" class="botBox ">


    <div class="unit" id="Progress">
      <i class="fas fa-chart-line fa-5x" ></i> 
      <h4>Progress</h4>
     
    </div>
    <a href="/Projects/tutorials" style="color: black;">
    <div class="unit">
      
      <i class="fas fa-chalkboard-teacher fa-5x"></i>
      <h4>Tutorials</h4>
     
    </div>
</a>


<div class="unit" id="ObjectivesBtn">
      
  <i class="fas fa-tasks fa-5x"></i>
  <h4>Objectives</h4>
 
</div>

<a href="/Projects/Account" style="color: black;">
  <div class="unit">
    
    <i class="fas fa-chalkboard-teacher fa-5x"></i>
    <h4>Account</h4>
   
  </div>
</a>

 


    
  </div>
 



 
  </div>
</div>
</div>

<div class="dashb no-show" id="ProgressDashboard">


  <div class="boxArea">
  <div class="top">
    <div>Your Progress </div>
    <div  id="imgs2" ><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;"></div>
    

  </div>
<div class="BottoM">
  





  
  <div id="mainOpt" class="botBox ">


    <div class="unit prog" >
      <h1> <%= info.Value %> /10</h1>
      <h4>Tutorials Completed</h4>
     
    </div>
    <a href="/Projects/tutorials" style="color: black;">
    <div class="unit prog">
      
      <h1>0/3</h1>
      <h4>Practices Completed</h4>
     
    </div>
</a>

    <div class="unit prog" >
      
      <h1>0/10</h1>
      <h4>Objectives Completed</h4>
     
    </div>
    <div class="unit prog" id="exitProg">
      
      <i class="fas fa-sign-out-alt fa-4x" style="color: white;"></i></a>  </i>
      <h4>Back</h4>
     
    </div>


    
  </div>
 



 
  </div>
</div>
</div>

<div class="dashb no-show" id="ObjectivesDashBoard">


  <div class="boxArea">
  <div class="top">
    <div>1/3 Objectives Completed</div>
    <div  id="imgs2" ><img src="https://www.w3schools.com/howto/img_avatar.png" alt="" srcset="" style="border-radius: 50%; width:50px;"></div>
    

  </div>
<div class="BottoM">
  
  
  <div id="mainOpt" class="botBox ">


    <div class="unit prog" >
      <i class="far fa-check-square fa-5x"></i>
      <h4>Learn Git and create
        a Github Profile
      </h4>
     
    </div>
    <a href="/Projects/tutorials" style="color: black;">
    <div class="unit prog">
      
      <i class="far fa-square fa-5x"></i>
      <h4>Complete Tutorials & Practices</h4>
     
    </div>
</a>

    <div class="unit prog" >
      
      <i class="far fa-square fa-5x"></i>
      <h4>Build a Portfolio</h4>
     
    </div>
    <div class="unit prog" id="exitObj" >
      
      <i class="fas fa-sign-out-alt fa-4x" style="color: white;"></i></a>  </i>
      <h4>Back</h4>
     
    </div>


    
  </div>
 



 
  </div>
</div>
</div>



<div class="lower">
   
  <div class="lbox red" id="tut"><h1 class="atag"><a href="/Projects/tutorials">Tutorials </a> </h1></div>
   <div class="lbox red" id="prac"><h1 class="atag"><a href="/Projects/Practice">Practice </a> </h1></div>
  <div class="lbox" id="proj"> <h1 class="atag"><a href="/Projects/Catalogue">Projects </a> </h1></div>
  <div class="lbox" id="chat"><h1 class="atag"><a href="/Projects/Forum">Forum</a> </h1></div>
 
</div>






<div class="footer">
  <p> Copyright &copy; 2021 DeeraCode.com</p>
   
  
  </div>



      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<script src="/public/assets/main.js"></script>
<script src="/public/assets/utils.js"></script>
