
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/DeerMentor/deermentor.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h2>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h2>
 </div> 


 <div>
  <i class="fas fa-sign-out-alt fa-3x"></i>
 </div>

 
</div>

</section>



  <% if (Progress.HTML) { %>
    <p> valid!!!</p>
    <%} else { %>
    <p> Hey <%= name %> Let Start with  HTML learning </p>
    <% } %>

</body>

<script src="public/assets/pjav.js"></script>
