
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div>
 <a href="/Projects/login"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>

 
</div>

</section>


<div class="dashboard">

   <div class="main-box">
        <h2>Hey  <%= info.name %> </h2>
   </div>
   <div class="Side-box">
     <div class="ul">
<ul class="sideOpt">
    <li><p>Progress</p>   <i class="fas fa-spinner"></i></i> </li>
    <li><p>Daily Tasks</p>    <i class="fas fa-tasks"></i></li>
    <li><p href><a href="/Projects/tutorials">Tutorials</a> </p>   <i class="fas fa-chalkboard"></i> </li>
    <li><p>Audio Chat</p>   <i class="fas fa-microphone"></i></li>


</ul>
   </div>

   <div class="cal">
   <i class="far fa-calendar-alt fa-4x"></i>
</div>
   <div>

    
   </div>

   </div>



</div>

<div class="lower">
   
  <div class="lbox red" id="tut"><h1 class="atag"><a href="/Projects/tutorials">Tutorials </a> </h1></div>
  <div class="lbox" id="proj"> <h1 class="atag"><a href="/Projects/Catalogue">Projects </a> </h1></div>
  <div class="lbox" id="chat"><h1 class="atag"><a href="/Projects/tutorials">Chat</a> </h1></div>
  <div class="lbox red"><h1 class="atag"><a href="/Projects/Forum">Forum </a> </h1></div>
</div>



  





      <iframe id="uploader_iframe" name="uploader_iframe" style="display: none;"></iframe>

</body>

<script src="/public/assets/main.js"></script>
