
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">
    <link rel="stylesheet" href="/public/assets/Projects/Projects.css">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div>
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>

 
</div>

</section>



<div class="uprojs">

<div class="upro">
  <div> <h3>Project Name</h3>
  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" ></i>
  <i class="fab fa-css3-alt fa-2x"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/proj1.jpg" alt="" srcset="" >
</div>

</div>
  
</div>
  
  
      


</body>
<script>
  
</script>
<script src="/public/assets/main.js"></script>
