
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/deermentor.css">
    <link rel="stylesheet" href="/public/assets/utils.css">
    <link rel="stylesheet" href="/public/assets/Projects/Projects.css">


  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>

<section>
<div class="navigation">


 <div>
<h1>DeerMentor<i class="fas fa-chalkboard main-logo"></i></h1>
 </div> 


 <div>
 <a href="/Projects/profile"><i class="fas fa-sign-out-alt fa-2x" style="color: white;"></i></a>  </i>
 </div>

 
</div>

</section>



<div class="uprojs">

<div class="upro" style="background-color: blueviolet;">
  <div>
   <h2>Single page business </h2>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>
  
<div class="upro" style="background-color: blueviolet;">
  <div>
   <h2>Planet information Website </h2>
  <p> Feel free to change it to another theme (Countries,
    Cities, Animals ). But the General idea is the same, you copy
     the design below and use Grid Box, CSS as well as any images
    you can find online to make a single page responsive website </p>
    
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/g9eewklurmolti0smptf.jpg" alt="" srcset="" >
</div>

</div>
 
<div class="upro" style="background-color: #034f84;">
  <div>
   <h2 >Rock paper Scissors Game</h2>
  <p> For this project, Design a responsive website like the one below
    that allows the user to play rock, paper, scissors against 
    the computer.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
  <i class="fab fa-js fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/fnzuxyyl1wwyscqgaiyc.jpg" alt="" srcset="" >
</div>

</div>

<div class="upro" style="background-color: #034f84;">
  <div>
   <h2>Memory Game  </h2>
  <p> Design a single player, responsive 
    memory game. The game involves showing random colors/pictures for
  a certain period of time before going back to blank objects. If the 
user correctly matches the colors/pictures, they move on to the next
level. Otherwise the game resets.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
  <i class="fab fa-js fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/xkdgkwu9c6jeo4pfybrj.jpg" alt="" srcset="" >
</div>

</div>


<div class="upro">
  <div>
   <h2>Country Data API fetch </h2>
  <p> Test your basic(Axios/Fetch) skills by setting up a country information API.This
    websites allows you to information on a country by searching it 
  up on a data base  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
  <i class="fab fa-js fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>
  
<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
  <i class="fab fa-js fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="https://res.cloudinary.com/dz209s6jk/image/upload/q_auto:good,w_900/Challenges/wirxeocmd6tpnn9c5oqc.jpg" alt="" srcset="" >
</div>

</div>
 
<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>

<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>


<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>
  
<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>
 
<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>

<div class="upro">
  <div>
   <h3>Project: Single page Website </h3>
  <p> To start off your portfolio, you can work on a simple project.
    For this project, the goal is to design the single page website as
    shown in the picture below, to zoom in on the picture just right click
    and select open image in new tab.  </p>
  
  </div>


<div>
  <i class="fab fa-css3-alt fa-2x" style="color: white;"></i>
  <i class="fab fa-html5 fa-2x" style="color: gold;"></i>
</div>

<div class="image">
  <img src="/public/assets/Projects/proj/main1.jpg" alt="" srcset="" >
</div>

</div>




</div>
  
  
      


</body>
<script>
  
</script>
<script src="/public/assets/main.js"></script>
