body{
}



.Forum-box{
padding:0px 0px;
width: 100%;
max-width: 1100px;

margin: 50px auto;
background: white;
color:black;
}
.Create-Post{

   
    background: blanchedalmond;
    padding:5px 10px ;
    display: none;
   
}
#Post{
    padding: 5px;
}

.Create-Post form{
    display: flex;
    flex-direction: column;
    gap:5px;
     color:black;
}


.Create-Post input{
    width: 10rem;
}
.Create-Post textarea{
    width: 100%;
}
.Forum-select{
   
    text-decoration: underline;
}
.Forum-box select{
     font-size: 1rem;
     border: none;
     }
 .inpt-button{
     border: none;
     text-transform: uppercase;
     background-color:#7258E9; 
     color: white;
     font-weight: 700;
     cursor: pointer;
 }    

.Upp-Sec{
padding: 15px;
display: flex;
justify-content: space-evenly;
align-items: center;
border-bottom: 1px solid grey;
background:#7258E9; 
color:white;
}

.Post-Sec{

    border:1px solid black;
  
}

.Post{
   padding-top: 5px;
    background: #282857;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Post-Id{
display: flex;
justify-content: space-between;
align-items: center;

padding: 10px 10px;
color: white;;

}

.Post-text{

    background: blanchedalmond;
    letter-spacing: 2px;
    line-height: 1.8em;
    padding: 15px 10px;
}

.Forum-image{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:5px
}
#Post{
   border: 1px solid white;
   background: white;
   color: black;
   padding: 5px 5px;
   color: #000;
   cursor: pointer;
}

.Create-Post .Post-Id {
  
     color:black;
}


@media only screen and (max-width: 600px) {

    .Post-date, .Post-Topic{
        display: none;
    }


    #latest,#unread, #most-liked{

        display: none;
    }
}