
<head>
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/Portfolio/Chess/Chess.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">

        <div class="title"><i class="fas fa-chess-knight fa-2x"></i><h1>ChessJS</h1>  </div>
        <div class="options">
          <ul>
              <li> Home</li>
              <li> Settings</li>
              <li> <a href="/Portfolio">Exit</a>	</li>
          </ul>
        </div>
        
        
        <div class="menu">
        
            <i class="fas fa-bars fa-2x" style=" color:#1F4E79;"></i>
        
        </div>
        
        
        </div>
        <div class="demo-block">

            <div class="large">
             <img src="/public/assets/chessLarger.png" alt="" srcset="" width="250px">
           </div>
          
 
           <div class="">
           <div class="image-svg">
           <img src="/public/assets/chessdemo.png" alt="" srcset="" width="125px">
          </div>
         <div class="dm-header">
          <h1>ChessJS <i class="fas fa-chess-knight"></i></h1>
         </div>
 
 <div class="points">
   <h2>Currently fixing some bugs</h2>
   <h3>2 Player Chess Game <i class="fas fa-people-arrows" style="color: chocolate;"></i></h3>
   <h3>Built with Socket.io <i class="fab fa-rocketchat"></i> </h3>
   
 </div >
<div>
<form action="" class="form-control" id="form">

    <input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
<input type="submit" value="Start new game" id="generate" >

                   




</form>
 <h3>Or Join one of the games below</h3>
   </div>
  
 

 </div>
 
 
         </div>
         
         <div class="Info-block" id="Board">
           <form action="" id="boardform">
             <div class="Game-Info-base" >
                     <h2>Games</h2>
                      <p class="status ">Status</p>
                     <p>Users </p>
                
                     <p class="join" style="border:none;">Action</p>

            </div>   

            <div class="Game-Info" id="test">
                     <h3>Game #456b</h3>
                     <p class="status in-game"> In game</p >
                     <p>DoubleSpawn1890 vs ChessmasterX92 </p>
           
                     <p id="gb0" class="spectate">In Game</p>
            </div>   

       



            </div>  


</form>

            </div>



           


            <div class="container">

         
            </div>

            <div class="container "> 

   <div class="GameDisplay">




  <div class="users">

                <div class="username" id="host">User1</div>
                <div class="username" id="exiter">vs</div>
                <div class="username" id="guest">User2</div>

              </div>

<div class="board-container">
  <div class="board">
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
          
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
          
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
          
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
          
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
          
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
                  <div class="box odd"></div>
          
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
                  <div class="box ev"></div>
          
                
                 
                  

                  
                  
                  </div>
                  <div class="pawn-selection no-show" id="white-pawns">

 <div class="choice">&#9813; </div> 
  <div class="choice">&#9814;</div>
 <div class="choice">&#9815; </div> 
 <div class="choice">&#9816;</div>
 <!-- <div class="choice">A</div>
 <div class="choice">b</div>
 <div class="choice">v</div>
 <div class="choice">d</div> -->

                  </div>



                  <div class="pawn-selection black no-show" id="black-pawns">

                    <div class="choice">&#9819;</div> 
                     <div class="choice">&#9820;</div>
                    <div class="choice">&#9821; </div> 
                    <div class="choice">&#9822;</div>
                    <!-- <div class="choice">A</div>
                    <div class="choice">b</div>
                    <div class="choice">v</div>
                    <div class="choice">d</div> -->
                   
                                     </div>
                                     
                  


</div>
 
                  <div class="users" style="margin-top: 0;">
                    <input type="text" id="hostmsg">
                    <button id="btn1">Message</button>
                    <div id="closer">Exit</div>
                   
                   </div>    
                   <div class="users" style="margin-top: 0;">
                    <textarea class="usermove" id="userdata"cols="30" rows="2"></textarea>
                  
                   </div>            



   </div>

             
          
                  <div class="player" id="turn">
            
          
        
                     
                     
                     
                        
         
             
                  </div>

                  <div class="cover"  ></div>
                  
           </div>    


        
            <div class="footer">
                <p> Copyright &copy; 2021 DeeraCode.com</p>
                 
                
                </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" 
integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/assets/Portfolio/Chess/ChessJS.js"></script>
<script src="/public/assets/Portfolio/Chess/ChessLogic.js"></script>
<script src="/public/assets/Portfolio/Chess/ChessMovements.js"></script>
<script src="/public/assets/Portfolio/Chess/Logic.js"></script>
