<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/assets/Portfolio/Chess/Chess.css">
    <title>Chess Game</title>
<div class="navbar">

<div class="title"><i class="fas fa-chess-knight fa-2x"></i><h1>ChessJS</h1>  </div>
<div class="options">
  <ul>
	  <li> Home</li>
	  <li> Settings</li>
	  <li> <a href="/Portfolio">Exit</a>	</li>
  </ul>
</div>


<div class="menu">

	<i class="fas fa-bars fa-2x"></i>

</div>


</div>





<form action="/Portfolio/Chess/Game">


<!-- <button> <a href="/Portfolio/Chess/Game">New Game</a></button> -->
<h2>Start a new game</h2>
<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>



<input type="submit" value="Start" >



</form>

<h2>Or Join a Game</h2>






<!-- <button><a href="">Join Game</a></button> -->
<form action="/Portfolio/Chess/Game" id="joinGames">
<div class="sessions">
   <div class="sessions-title">Current Games</div>
	<div class="game">
		<div id="game-name">Game 1</div> 
		
		<div id="join-game1" class = "join-game"><input type="submit" value="join" name="game1"></div>


  </div>
  <div class="game">
	<div id="game-name2">Game 2</div> 
	
	<div id="join-game2" class="join-game"><input type="submit" value="join" name="game2"></div>


</div>

</div>

</form>








    <div class="board">
		
	</div>
</head>
<body>
    
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/assets/Portfolio/Chess/Logic.js"></script>
<script src="/public/assets/Portfolio/Chess/Chess.js"></script>

</html>