<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/assets/Portfolio/Chess/Chess.css">
    <title>Chess Game</title>
    <div class="board">
		<div class="box" id="one">&#9820;</div>
		<div class="box">x</div>
		<div class="box">&#9821;</div>
		<div class="box">&#9819;</div>
		<div class="box">&#9818;</div>
		<div class="box">&#9821;</div>
		<div class="box">&#9822;</div>
		<div class="box">&#9820;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box"></div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9823;</div>
		<div class="box">&#9820;</div>
		<div class="box">&#9822;</div>
		<div class="box">&#9821;</div>
		<div class="box">&#9819;</div>
		<div class="box">&#9818;</div>
		<div class="box">&#9821;</div>
		<div class="box">&#9822;</div>
		<div class="box">&#9820;</div>
	</div>
</head>
<body>
    
</body>
</html>