
<head>
    <script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Archivo Narrow' rel='stylesheet'>

    <link rel="stylesheet" href="/public/assets/Portfolio/Chess/Chess.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="navbar">

        <div class="title"><i class="fas fa-chess-knight fa-2x"></i><h1>ChessJS</h1>  </div>
        <div class="options">
          <ul>
              <li> Home</li>
              <li> Settings</li>
              <li> <a href="/Portfolio">Exit</a>	</li>
          </ul>
        </div>
        
        
        <div class="menu">
        
            <i class="fas fa-bars fa-2x" style=" color:#1F4E79;"></i>
        
        </div>
        
        
        </div>

    <h3>ChessJS</h3>
    <div class="navbar"></div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" 
integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/public/assets/Portfolio/Chess/Logic.js"></script>
<script src="/public/assets/Portfolio/Chess/Main.js"></script>