<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://kit.fontawesome.com/f52626a245.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/public/assets/Portfolio/Chess/Chess.css">
    <title>Chess Game</title>
<div class="navbar">

<div class="title"><i class="fas fa-chess-knight fa-2x"></i><h1>ChessJS</h1>  </div>
<div class="options">
  <ul>
	  <li> Home</li>
	  <li> Settings</li>
	  <li> <a href="/Portfolio/Chess">Back</a>	</li>
  </ul>
</div>


<div class="menu">

	<i class="fas fa-bars fa-2x"></i>

</div>





</div>
</head>
<body>


<div class="player" id="turn"></div>





<div class="container"> 
    <div class="board">
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>

        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>

        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>

        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>

        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>

        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>
        <div class="box odd"></div>

        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>
        <div class="box ev"></div>

      
       
        
        
        
        
        
        </div>
 </div>        
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" 
integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/assets/Portfolio/Chess/Logic.js"></script>
<script src="/public/assets/Portfolio/Chess/Chess.js"></script>


</html>